.refer {
	display: flex;
    align-items: center;
	padding: $refer-padding;
	box-sizing:border-box;
    background-size: cover;
	position:relative;
	
	&:before{
		content: "";
		background: black;
		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;
		opacity: .5;

		@supports (mix-blend-mode: multiply){
			mix-blend-mode: multiply;
		}
	}

	&__text{
		position:relative;
		flex: 1;
		padding: 0 #{$refer-icon-padding} 0 0; // Adds seperation between icon and text
		text-align: right;
	}
	
	&__kicker{
		@extend %serif;
		color: $refer-color-text;
		font-weight: bold;
	}

	&__headline a{
		@extend %serif;
		color: $refer-color-text;
		font-size: 22px;
		text-decoration: none;
		margin: 1rem 0;
	}

	&__readtime{
		@extend %sans;
		color: $refer-color-text;
		opacity: .75;
	}

	&__icon{
		position:relative;
		box-sizing: border-box;
		width: $refer-icon-width;
		height: $refer-icon-width;
		padding: $refer-icon-width / 4;
		border: 1px solid red;
		border-radius: 50%;

		display:flex;

		img{
			width: 100%;
			margin: auto;
		}
	}
}

.refer.refer--previous{
	
	.refer__icon{
		transform: rotate(180deg);
		order: 1;
	}

	.refer__text{
		order: 2;
		padding: 0 0 0 #{$refer-icon-padding};
		text-align: left;
	}

}


@media all and (min-width: #{$refer-min-width * 2}){
	.refer {
		opacity: 0;
		transition: all 150ms ease;

		&:hover, &:focus{
			opacity: 1;
			transition: all 150ms ease;
		}

		&:focus-within{
			// If any element inside the refer receieves focus, then the whole thing should show.
			opacity: 1;
			transition: all 150ms ease;		
		}
	}	
}