// --------------
// VARIABLES
// --------------

$grid-gap: 30px;

$refer-min-width: 350px;
$refer-padding: $grid-gap * 2;
$refer-color-text: white;
$refer-icon-width: 50px;
$refer-icon-padding: $grid-gap * 2;

// --------------
// MIXINS
// --------------

%serif{
	font: 16px/1.4em 'Georgia', serif;
	margin: 0 0 1rem 0;
}

%sans{
	font: 14px/1.3em 'Arial', sans-serif;
	margin: 0 0 1rem 0;
}

// --------------
// IMPORTS
// --------------

@import 'refer';

// --------------
// STYLES
// --------------

.main-content{
	max-width: 1050px;
	margin: auto;
}


.headline{
	@extend %serif;
	font-size: 3em;
}

.dek{
	@extend %serif;
	font-size: 1.3em;
}

.refers{
	background: black;
	opacity: .1;
	transition: all 150ms ease;

	ul{
		list-style:none;
		padding:0;
		margin: 1em 0 0 0;

		// Put the refers side-by-side
		display:flex;
		flex-wrap: wrap;

		// They will stack when they can't be at least <$refer-min-width> length
		& > * {
			flex: 1 1 #{$refer-min-width};
		}
	}
}


.refer {
	opacity: 0;
	transition: all 150ms ease;

	&:hover, &:focus{
		opacity: 1;
		transition: all 150ms ease;
	}

	&:focus-within{
		// If any element inside the refer receieves focus, then the whole thing should show.
		opacity: 1;
		transition: all 150ms ease;		
	}
}
